.header {
	padding: 0 15px;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	background-color: $accent;
	height: 105px;
	&__logo {
		display: block;
		position: relative;
		color: #FFF;
		font-family: $titleFont;
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		width: 120px;
		margin-left: 69px;
		margin-top: 6px;
		&::before {
			content: '';
			position: absolute;
			left: -84px;
			top: -15px;
			width: 57px;
			height: 62px;
			background-image: url('../../../images/dist/walker/logo.svg');
		}
	}
	&__menu {
		display: flex;
		justify-content: space-evenly;
		margin: 0 0 0 8px;
		padding: 0;
	}
	&__menu-link {
		font-family: $titleFont;
		color: $white;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		transition: all .7s;
		&:hover {
			color: darken($white, 20%);
		}
	}
	&__menu-item {
		padding: 0;
		margin-top: 10px;
	}
	&__toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background-color: $white;
		width: 100%;
		max-width: 192px;
		height: 46px;
		border-radius: 25px;
		margin-left: 12px;
		input[type="checkbox"] {
			display: none;
		}
		.toggle-switch {
			position: absolute;
			top: 5px;
			left: 4px;
			width: 34px;
			height: 34px;
			background: #F7A491;
			border-radius: 50%;
			transition: all 0.7s;
			cursor: pointer;
			z-index: 5;
		}
		input[type="checkbox"]:checked + .toggle-switch {
			left: 150px;
		}
		.toggle-role{
			padding-left: 60px;
			position: relative;
			color: $accent;
			font-weight: 600;
			font-family: $titleFont;
			line-height: 20px;
			z-index: 4;
			&:before {
				content: '';
				position: absolute;
				left: 33px;
				width: 18px;
				height: 17px;
				background: url("../../../images/dist/walker/dog.svg");
			}
		}
	}
}


