.main {
  .promo {
    display: flex;
    width: 100%;
    height: 800px;
    background-color: $accent;

    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 1320px;
      background-image: url('../../../images/dist/walker/banner.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin: 0 auto;
      padding-bottom: 123px;
      padding-left: 3px;
    }

    &__content {
      color: $white;
    }

    &__title {
      font-family: $titleFont;
      font-size: 60px;
      color: inherit;
      line-height: 73px;
      font-weight: 700;
    }

    &__description {
      position: relative;
      top: 14px;
      font-family: $userfont;
      max-width: 525px;
      font-weight: 500;
      font-size: 30px;
      color: inherit;
      line-height: 36px;
    }

    &__buttons {
      margin-top: 50px;

      .google {
        margin-right: 28px;
      }
    }
  }

  .how {
    padding-bottom: 40px;

    &__content {
      max-height: 588px;
      background-image: url('../../../images/dist/walker/bg-second.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -23px -5px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 250px;
      }

      .bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 212px;
        margin-top: 12px;
      }
    }

    &__item {
      position: relative;
      max-width: 224px;
      gap: 20px;

      .item-number {
        display: flex;
        position: absolute;
        top: 0;
        left: -75px;
        width: 60px;
        height: 60px;
        color: $white;
        background-color: #f7745e;
        border-radius: 50%;
        font-family: $titleFont;
        font-weight: 800;
        font-size: 26px;
        align-items: center;
        justify-content: center;
      }

      .item-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }

      .item-body {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__item:nth-child(2) {
      left: 33px;
    }

    &__item:nth-child(3) {
      left: 63px;
    }

    &__item:nth-child(4) {
      left: 5px;
    }

    .last-item {
      left: 68px;
    }

  }

  .try {
    padding-top: 18px;
    background-color: #D4E1FB;

    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1320px;
      height: 588px;
      background-image: url('../../../images/dist/walker/phone.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 116% center;
      margin: 0 auto;
      padding-left: 3px;
    }

    &__content {
      padding-left: 114px;
    }

    &__title {
      font-family: $titleFont;
      font-size: 60px;
      color: inherit;
      line-height: 73px;
      font-weight: 700;
      position: relative;
      top: -34px;
    }

    &__description {
      position: relative;
      top: -16px;
      font-family: $userfont;
      max-width: 525px;
      font-weight: 500;
      font-size: 22px;
      color: inherit;
      line-height: 26px;
      padding-bottom: 2px;
    }

    &__buttons {
      margin-top: 35px;

      .google {
        margin-right: 28px;
      }
    }
  }

  .why {
    .first-row {
      margin-bottom: 39px;
    }

    &__item {
      position: relative;
      max-width: 265px;

      .item-icon {
        display: flex;
        position: absolute;
        top: 0;
        left: -150px;
        width: 126px;
        height: 126px;
        align-items: center;
        justify-content: center;
      }

      .item-title {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: $accent;
      }

      .item-body {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

    }

    &__item.item-flag {
      left: 107px;
    }

    &__item.item-student {
      left: 43px;
    }

    &__item.item-phone {
      left: 65px;
    }

    &__item.item-search {
      left: 92px;
    }

    &__dog {
      position: relative;
      width: 412px;
      height: 500px;
      top: -140px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .services {
    padding-bottom: 70px;

    ._title {
      @extend %titleSection;
    }

    &__subtitle {
      @extend %subtitle;
    }

    &__wrapper {
      display: flex;
    }

    &__item {
      height: 288px;
      min-width: 640px;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 20px;
      overflow: hidden;
    }

    &__item:last-child {
      margin-left: 32px;
    }

    &__phone {
      position: relative;
      width: 35%;
      height: 100%;
    }

    &__phone-image {
      position: absolute;
      left: 35px;
      top: 24px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: 38px;
      color: $white;
    }

    &__title {
      font-family: $titleFont;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: inherit;
    }

    &__description {
      min-width: 340px;
      font-family: $userfont;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
      margin-top: 13px;
    }

    &__button {
      @extend %buttonAbstract
    }
  }

  .checkup {
    padding-bottom: 70px;

    ._title {
      @extend %titleSection;
    }

    &__subtitle {
      @extend %subtitle;
    }

    &__theory-wrapper {
      display: flex;
      height: 591px;
      justify-content: center;
    }

    &__item {
      position: relative;
      height: 100%;
      max-width: 1087px;

      .slide-background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      text-align: left;
      height: 100%;
      z-index: 10;
      padding: 0 100px 0 304px;
      justify-content: center;
    }

    &__item-alias {
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 18px;
      color: $blue;
      position: relative;
      top: -28px;
    }

    &__item-title {
      position: relative;
      top: -12px;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
    }

    &__item-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }

    &__item-buttons {
      display: flex;
      position: relative;
      top: 32px;
    }

    &__button {
      @extend %buttonAbstract;
      background: #D4E1FB;
      color: #4F86F7;
      min-width: 193px;
      margin-right: 31px;
      border: 2px solid #4F86F7;

      &:hover {
        background-color: darken(#D4E1FB, 5%)
      }

      &:focus, &:active {
        background-color: darken(#D4E1FB, 7%);
        border: 2px solid #4F86F7;
        color: #4F86F7;
      }
    }

    &__button.active {
      background-color: $blue;
      color: $white;

      &:focus, &:active {
        background-color: darken($blue, 10%)
      }
    }
  }

  .question {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 35px;
      align-items: center;
    }

    &__item {
      padding: 32px 50px 32px 50px;
      border: 2px solid #4F86F7;
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      width: 1089px;

      .arrow-toggle-open {
        display: none;
      }

      .arrow-toggle {
        display: block;
      }
    }

    &__item-content {
      display: none;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      position: relative;
      top: 20px;
      padding-bottom: 30px;
    }

    &__item-title {
      font-family: $titleFont;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: $blue;
      display: flex;
      justify-content: space-between;

      .arrow-toggle {
        cursor: pointer;
      }
    }

    &__item.open {
      background-color: $blue;
      color: $white;

      .arrow-toggle-open {
        display: block;
      }

      .arrow-toggle {
        display: none;
      }

      .question__item-content {
        display: block;
      }

      .question__item-title {
        color: $white;
      }

      .arrow-toggle {
        display: none;
      }
    }
  }

  .reviews {
    max-width: 1344px;
    margin: 0 auto;
    box-sizing: content-box;
    ._title{
      padding: 80px 0 48px;
    }

    &__slider-wrapper {

    }

    &__slide {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }

    &__item {
      width: 50%;
      display: flex;
      max-width: 640px;
      gap: 20px;
      background-color: $blue;
      border-radius: 20px;
      color: $white;
    }

    &__item-photo {
      width: 304px;
      height: 412px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__item-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      padding: 0 10px;
      justify-content: space-evenly;
    }

    &__item-title-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-family: $titleFont;
      font-weight: 800;
      font-size: 18px;
      line-height: 20px;
      margin-top: 10px;
    }

    &__item-description {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      padding-bottom: 80px;
    }

    &__item-title {
      max-width: 110px;
    }

    &__item-info {
      display: flex;
      position: relative;
      left: -25px;
      align-items: stretch;
      font-size: 12px;
      line-height: 19px;
      font-weight: 500;
    }

    &__item-rating {
      padding-left: 10px;
      span {
        position: relative;
        right: -3px;
      }
    }
    
    &__item-category {
      position: relative;
      margin-left: 30px;
      font-size: 16px;
      line-height: 16px;
      top: -10px;
      &:before {
        content: '';
        position: absolute;
        width: 23px;
        height: 22px;
        display: block;
        left: -33px;
        top: -1px;
        background-image: url('../../../images/dist/walker/dog-white.svg');
      }
    }
    &__item-category.carry {
      &:before {
        top: -5px;
        left: -33px;
        width: 25px;
        height: 25px;
        background-image: url('../../../images/dist/walker/dog-white-in border.svg');
      }
    }

  }

}

.wrapper.walker {
  .main {
    .services {
      &__item:nth-child(1) {
        background-color: $orange;

        a.btn {
          color: $orange;
        }
      }

      &__item:nth-child(2) {
        background-color: $blue;

        a.btn {
          color: $blue;
        }
      }
    }
  }
}