<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

	<div class="wrapper walker">
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<a class="header__logo" href="#">Hi PAW</a>
					</div>
					<div class="col-lg-8 col-md-8">
						<ul class="header__menu">
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">Чому ми</a>
							</li>
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">Послуги</a>
							</li>
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">Перевір себе</a>
							</li>
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">Питання</a>
							</li>
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">Відгуки</a>
							</li>
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">Завантажити</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-2">
						<div class="header__toggle">
							<div class="toggle">
								<input id="normal" type="checkbox" />
								<label class="toggle-switch" for="normal"></label>
								<div class="toggle-role">Вигулювач</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="promo">
				<div class="promo__wrapper">
					<div class="promo__content">
						<h1 class="promo__title">
							Hi PAW
						</h1>
						<div class="promo__description">
							Турбота і надійність на відстані одного натискання!
						</div>
						<div class="promo__buttons">
							<a class="google" href="#">
								<img class="promo__btn" src="images/dist/google.svg" alt="google">
							</a>
							<a class="apple" href="#">
								<img class="promo__btn" src="images/dist/apple.svg" alt="apple">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="how">
				<div class="container">
					<h2 class="how__title _title">
						Як це працює?
					</h2>
					<div class="how__content">
						<div class="top">
							<div class="how__item">
								<div class="item-number">1</div>
								<h4 class="item-title title-block">Крок 1</h4>
								<p class="item-body">
									Завантажте наш застосунок у (App Store для iOS або Google Play для Android)
								</p>
							</div>
							<div class="how__item">
								<div class="item-number">3</div>
								<h4 class="item-title">Крок 3</h4>
								<p class="item-body">
									Виберіть своє місто із запропонованого списку або впишіть самостійно.
								</p>
							</div>
							<div class="how__item">
								<div class="item-number">5</div>
								<h4 class="item-title">Крок 5</h4>
								<p class="item-body">
									Зв'яжіться з власником для обговорення деталей
									і домовлення про зустріч через пропоновані способи зв'язку після отримання відгуку на ваше оголошення.						</p>
							</div>
						</div>
						<div class="bottom">
							<div class="how__item">
								<div class="item-number">2</div>
								<h4 class="item-title">Крок 2</h4>
								<p class="item-body">
									Відкрийте застосунок та виберіть, що ви вигулювач/перетримувач та зареєструйтеся в додатку.
								</p>
							</div>
							<div class="how__item last-item">
								<div class="item-number">4</div>
								<h4 class="item-title">Крок 4</h4>
								<p class="item-body">
									Створіть оголошення заповнивши всі потрібні дані та виберіть перетримку або прогулянку. Опублікуйте оголошення та чекайте.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="try">
				<div class="try__wrapper">
					<div class="try__content">
						<h2 class="try__title">
							Ну що, <br> спробуємо?
						</h2>
						<div class="try__description">
							Довірте нам свою тваринку - ми зробимо все, щоб він почував себе особливим!
						</div>
						<div class="try__buttons">
							<a class="google" href="#">
								<img class="promo__btn" src="images/dist/google.svg" alt="google">
							</a>
							<a class="apple" href="#">
								<img class="promo__btn" src="images/dist/apple.svg" alt="apple">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="why">
				<div class="container">
					<h2 class="how__title _title">
						Чому ми?
					</h2>
					<div class="why__content">
						<div class="row pb-5 first-row">
							<div class="col-lg-6 d-flex justify-content-around">
								<div class="why__item item-flag">
									<div class="item-icon">
										<img src="images/dist/walker/icon-flag.png" alt="icon-flag">
									</div>
									<h4 class="item-title title-block">
										Застосунок для <br> послуг по всій Україні
									</h4>
									<p class="item-body">
										Насолоджуйтесь перевагами нашого додатку, що гарантує зручний та надійний досвід надання послуг по всій території України, незалежно від вашого місця проживання.
									</p>
								</div>
							</div>
							<div class="col-lg-6 d-flex d-flex justify-content-around">
								<div class="why__item item-student">
									<div class="item-icon">
										<img src="images/dist/walker/icon-student.png" alt="icon-student">
									</div>
									<h4 class="item-title title-block">
										Експерт у тваринах
									</h4>
									<p class="item-body">
										Ви зможете отримати нові знання про тварин з нашим теоретичним матеріалом з усіма базовими питаннями і зможете надавати професійні послуги.
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 d-flex justify-content-around">
								<div class="why__item item-phone">
									<div class="item-icon">
										<img src="images/dist/walker/icon-phone.png" alt="icon-phone">
									</div>
									<h4 class="item-title title-block">
										Мобільний <br> застосунок
									</h4>
									<p class="item-body">
										Ви зможете легко та швидко знайти нові оголошення, обговорити всі деталі
										з власниками тварин та надати свої професійні послуги
										за допомогою нашого додатку.
									</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="why__dog">
									<img src="images/dist/walker/big-dog.png" alt="big-dog">
								</div>
							</div>
							<div class="col-lg-4 d-flex justify-content-around">
								<div class="why__item item-search">
									<div class="item-icon">
										<img src="images/dist/walker/icon-search.png" alt="icon-search">
									</div>
									<h4 class="item-title title-block">
										Знайдіть ідеальних <br> клієнтів
									</h4>
									<p class="item-body">
										У нашому додатку великий вибір клієнтів, які зможуть відгукнутися на ваше оголошення або ви зможете знайти оголошення від клієнтів які вам до вподоби.
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="services">
				<div class="container">
					<h2 class="services__title _title">
						Наші послуги
					</h2>
					<p class="services__subtitle">
						Зроби щасливим не тільки тваринок, а й себе з нашим додатком
					</p>
					<div class="services__wrapper">
						<div class="services__item">
							<div class="services__phone">
								<img class="services__phone-image" src="images/dist/walker/phone-orange.png" alt="phone-orange">
							</div>
							<div class="services__content">
								<div class="services__title">
									Вигули
								</div>
								<div class="services__description">
									Доглядаєте за тваринами, чи просто насолоджуєтеся їхньою компанією - наш застосунок чекає на Вас.
								</div>
								<a href="#" class="services__button btn">
									Cпробувати
								</a>
							</div>
						</div>
						<div class="services__item">
							<div class="services__phone">
								<img class="services__phone-image" src="images/dist/walker/phone-blue.png" alt="phone-blue">
							</div>
							<div class="services__content">
								<div class="services__title">
									Перетримка
								</div>
								<div class="services__description">
									Надайте тваринкам тимчасову домівку, щоб вони були у безпеці
									і не сумували.
								</div>
								<a href="#" class="services__button btn">
									Cпробувати
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="checkup">
				<div class="container">
					<h2 class="checkup__title _title">
						Перевір себе
					</h2>
					<p class="checkup__subtitle">
						Перевір свої навички та знання у сфері вигула та перетримки домашніх улюбленців
					</p>

					<div class="checkup__theory-wrapper">
						<div class="checkup__item">
							<img class="slide-background" src="images/dist/walker/slider/first.png" alt="first">
							<div class="checkup__content">
								<div class="checkup__item-alias">
									Теорія
								</div>
								<h4 class="checkup__item-title">Породи собак</h4>
								<p class="checkup__item-text">
									Розуміння різних розмірів порід собак є важливим, оскільки воно впливає на їхні фізичні потреби та вимоги до простору. У світі існує безліч порід собак з різними розмірами, характерами та потребами. Кожна порода має свої унікальні особливості, які варто вивчати, щоб забезпечити їм оптимальний догляд і щасливе життя. Деякі породи мають спеціальні призначення, а інші можуть бути прекрасними помічниками для людей з обмеженими можливостями. Розуміння різних потреб порід у фізичній активності також допомагає забезпечити їм належний рівень руху. Варто пам'ятати, що не лише порода, але й індивідуальні риси та соціалізація впливають на поведінку собаки.
								</p>
								<div class="checkup__item-buttons">
									<div class="checkup__button btn ">
											Назад
									</div>
									<div class="checkup__button btn active">
											Далі
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="question">
				<div class="container">
					<h2 class="question__title _title">
						Поширені запитання
					</h2>
					<div class="question__wrapper">
						<div class="question__item">
							<div class="question__item-title">
								Які послуги пропонує застосунок?
								<span class="arrow-toggle">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27 2L22.6317 6.40742C19.1481 9.92226 17.4063 11.6797 15.2833 11.9503C14.7632 12.0166 14.2368 12.0166 13.7167 11.9503C11.5937 11.6797 9.85188 9.92226 6.36827 6.40743L2 2" stroke="#4F86F7" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
								<span class="arrow-toggle-open">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 12L6.36827 7.59258C9.85188 4.07774 11.5937 2.32032 13.7167 2.04972C14.2368 1.98342 14.7632 1.98342 15.2833 2.04972C17.4063 2.32032 19.1481 4.07774 22.6317 7.59257L27 12" stroke="white" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
							</div>
							<div class="question__item-content">
								Коли ви отримуєте запит на вигул або перетримку через застосунок, але не можете прийняти його, виберіть опцію відхилення і вкажіть причину. Будьте ввічливими та запропонуйте альтернативні дати та час, якщо можливо. Оновіть свій розклад роботи в додатку, щоб клієнти знали, коли ви доступні. Якщо проблема повторюється, розгляньте зміну своєї доступності або обмеження кількості замовлень.
							</div>
						</div>
						<div class="question__item">
							<div class="question__item-title">
								Як я можу зареєструватися як вигульник або перетримач через застосунок?
								<span class="arrow-toggle">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27 2L22.6317 6.40742C19.1481 9.92226 17.4063 11.6797 15.2833 11.9503C14.7632 12.0166 14.2368 12.0166 13.7167 11.9503C11.5937 11.6797 9.85188 9.92226 6.36827 6.40743L2 2" stroke="#4F86F7" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
								<span class="arrow-toggle-open">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 12L6.36827 7.59258C9.85188 4.07774 11.5937 2.32032 13.7167 2.04972C14.2368 1.98342 14.7632 1.98342 15.2833 2.04972C17.4063 2.32032 19.1481 4.07774 22.6317 7.59257L27 12" stroke="white" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
							</div>
							<div class="question__item-content">
								Коли ви отримуєте запит на вигул або перетримку через застосунок, але не можете прийняти його, виберіть опцію відхилення і вкажіть причину. Будьте ввічливими та запропонуйте альтернативні дати та час, якщо можливо. Оновіть свій розклад роботи в додатку, щоб клієнти знали, коли ви доступні. Якщо проблема повторюється, розгляньте зміну своєї доступності або обмеження кількості замовлень.
							</div>
						</div>
						<div class="question__item">
							<div class="question__item-title">
								Яка інформація потрібна в моєму профілі вигульника або перетримача?
								<span class="arrow-toggle">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27 2L22.6317 6.40742C19.1481 9.92226 17.4063 11.6797 15.2833 11.9503C14.7632 12.0166 14.2368 12.0166 13.7167 11.9503C11.5937 11.6797 9.85188 9.92226 6.36827 6.40743L2 2" stroke="#4F86F7" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
								<span class="arrow-toggle-open">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 12L6.36827 7.59258C9.85188 4.07774 11.5937 2.32032 13.7167 2.04972C14.2368 1.98342 14.7632 1.98342 15.2833 2.04972C17.4063 2.32032 19.1481 4.07774 22.6317 7.59257L27 12" stroke="white" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
							</div>
							<div class="question__item-content">
								Коли ви отримуєте запит на вигул або перетримку через застосунок, але не можете прийняти його, виберіть опцію відхилення і вкажіть причину. Будьте ввічливими та запропонуйте альтернативні дати та час, якщо можливо. Оновіть свій розклад роботи в додатку, щоб клієнти знали, коли ви доступні. Якщо проблема повторюється, розгляньте зміну своєї доступності або обмеження кількості замовлень.
							</div>
						</div>
						<div class="question__item">
							<div class="question__item-title">
								Як я можу встановити ціни на свої послуги та отримувати оплату <br> через застосунок?
								<span class="arrow-toggle">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27 2L22.6317 6.40742C19.1481 9.92226 17.4063 11.6797 15.2833 11.9503C14.7632 12.0166 14.2368 12.0166 13.7167 11.9503C11.5937 11.6797 9.85188 9.92226 6.36827 6.40743L2 2" stroke="#4F86F7" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
								<span class="arrow-toggle-open">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 12L6.36827 7.59258C9.85188 4.07774 11.5937 2.32032 13.7167 2.04972C14.2368 1.98342 14.7632 1.98342 15.2833 2.04972C17.4063 2.32032 19.1481 4.07774 22.6317 7.59257L27 12" stroke="white" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
							</div>
							<div class="question__item-content">
								Коли ви отримуєте запит на вигул або перетримку через застосунок, але не можете прийняти його, виберіть опцію відхилення і вкажіть причину. Будьте ввічливими та запропонуйте альтернативні дати та час, якщо можливо. Оновіть свій розклад роботи в додатку, щоб клієнти знали, коли ви доступні. Якщо проблема повторюється, розгляньте зміну своєї доступності або обмеження кількості замовлень.
							</div>
						</div>
						<div class="question__item">
							<div class="question__item-title">
								Як я можу зв'язатися з клієнтами через застосунок?
								<span class="arrow-toggle">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27 2L22.6317 6.40742C19.1481 9.92226 17.4063 11.6797 15.2833 11.9503C14.7632 12.0166 14.2368 12.0166 13.7167 11.9503C11.5937 11.6797 9.85188 9.92226 6.36827 6.40743L2 2" stroke="#4F86F7" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
								<span class="arrow-toggle-open">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 12L6.36827 7.59258C9.85188 4.07774 11.5937 2.32032 13.7167 2.04972C14.2368 1.98342 14.7632 1.98342 15.2833 2.04972C17.4063 2.32032 19.1481 4.07774 22.6317 7.59257L27 12" stroke="white" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
							</div>
							<div class="question__item-content">
								Коли ви отримуєте запит на вигул або перетримку через застосунок, але не можете прийняти його, виберіть опцію відхилення і вкажіть причину. Будьте ввічливими та запропонуйте альтернативні дати та час, якщо можливо. Оновіть свій розклад роботи в додатку, щоб клієнти знали, коли ви доступні. Якщо проблема повторюється, розгляньте зміну своєї доступності або обмеження кількості замовлень.
							</div>
						</div>
						<div class="question__item">
							<div class="question__item-title">
								Що робити, якщо я отримую запит на вигул або перетримку, але не <br> можу прийняти його?
								<span class="arrow-toggle">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27 2L22.6317 6.40742C19.1481 9.92226 17.4063 11.6797 15.2833 11.9503C14.7632 12.0166 14.2368 12.0166 13.7167 11.9503C11.5937 11.6797 9.85188 9.92226 6.36827 6.40743L2 2" stroke="#4F86F7" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
								<span class="arrow-toggle-open">
									<svg width="29" height="14" viewBox="0 0 29 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 12L6.36827 7.59258C9.85188 4.07774 11.5937 2.32032 13.7167 2.04972C14.2368 1.98342 14.7632 1.98342 15.2833 2.04972C17.4063 2.32032 19.1481 4.07774 22.6317 7.59257L27 12" stroke="white" stroke-width="3" stroke-linecap="round"/>
									</svg>
								</span>
							</div>
							<div class="question__item-content">
								Коли ви отримуєте запит на вигул або перетримку через застосунок, але не можете прийняти його, виберіть опцію відхилення і вкажіть причину. Будьте ввічливими та запропонуйте альтернативні дати та час, якщо можливо. Оновіть свій розклад роботи в додатку, щоб клієнти знали, коли ви доступні. Якщо проблема повторюється, розгляньте зміну своєї доступності або обмеження кількості замовлень.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews">
				<div class="container-fluid">
					<h2 class="reviews__title _title">
						Відгуки
					</h2>
					<div class="reviews__slider-wrapper">
						<div class="reviews__slide">
							<div class="reviews__item">
								<div class="reviews__item-photo">
									<img src="images/dist/walker/slider-reviews/4.png" alt="slide">
								</div>
								<div class="reviews__item-content">
									<div class="reviews__item-title-wrapper">
										<div class="reviews__item-title">
											Олексій Клименко
										</div>
										<div class="reviews__item-info">
											<div class="date">
												07/11/2023
											</div>
											<div class="reviews__item-rating">
												<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.2887 2.29998C9.47595 -0.278217 5.93714 -0.278217 5.12438 2.29998C4.88542 3.058 4.20008 3.57122 3.42679 3.57122C0.796665 3.57122 -0.296889 7.04016 1.83093 8.63358C2.45653 9.10206 2.71831 9.93247 2.47935 10.6905C1.6666 13.2687 4.52956 15.4126 6.65737 13.8192C7.28298 13.3507 8.13011 13.3507 8.75571 13.8192C10.8835 15.4126 13.7465 13.2687 12.9337 10.6905C12.6948 9.93247 12.9566 9.10206 13.5822 8.63358C15.71 7.04016 14.6164 3.57122 11.9863 3.57122C11.213 3.57122 10.5277 3.058 10.2887 2.29998Z" fill="#F7C34F"/>
												</svg>
												<span>
													5.0
												</span>
											</div>
										</div>
									</div>
									<div class="reviews__item-description">
										Робота в додатку для вигулу та перетримки вихованців — справжнє задоволення! Я насолоджуюся проведенням часу з різними породами собак і отримую детальну інформацію про кожну з них. Застосунок забезпечує зручне управління вигулами і розкладом роботи. Отримання оплати також просте і прозоре. Рекомендую цей застосунок усім вигульникам.
									</div>
									<div class="reviews__item-category">
										Прогулянка
									</div>
								</div>
							</div>
							<div class="reviews__item">
								<div class="reviews__item-photo">
									<img src="images/dist/walker/slider-reviews/1.png" alt="slide">
								</div>
								<div class="reviews__item-content">
									<div class="reviews__item-title-wrapper">
										<div class="reviews__item-title">
											Аліна Олексюк
										</div>
										<div class="reviews__item-info">
											<div class="date">
												07/11/2023
											</div>
											<div class="reviews__item-rating">
												<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.2887 2.29998C9.47595 -0.278217 5.93714 -0.278217 5.12438 2.29998C4.88542 3.058 4.20008 3.57122 3.42679 3.57122C0.796665 3.57122 -0.296889 7.04016 1.83093 8.63358C2.45653 9.10206 2.71831 9.93247 2.47935 10.6905C1.6666 13.2687 4.52956 15.4126 6.65737 13.8192C7.28298 13.3507 8.13011 13.3507 8.75571 13.8192C10.8835 15.4126 13.7465 13.2687 12.9337 10.6905C12.6948 9.93247 12.9566 9.10206 13.5822 8.63358C15.71 7.04016 14.6164 3.57122 11.9863 3.57122C11.213 3.57122 10.5277 3.058 10.2887 2.29998Z" fill="#F7C34F"/>
												</svg>
												<span>
													4.7
												</span>
											</div>
										</div>
									</div>
									<div class="reviews__item-description">
										Хочу поділитися своїм враженням про чудового песика Кокос. Він виявився надзвичайно привітливим, лагідним та відданим, та доволі швидко адаптувався до нового середовища і ми одразу знайшли спільну мову. Він вразив мене своєю здатністю розуміти команди та виконувати їх. Я рада що завдяки вашому додатку я змогла познайомитися с Кокосом.
									</div>
									<div class="reviews__item-category carry">
										Перетримка
									</div>
								</div>
							</div>
							<div class="reviews__item">
								<div class="reviews__item-photo">
									<img src="images/dist/walker/slider-reviews/2.png" alt="slide">
								</div>
								<div class="reviews__item-content">
									<div class="reviews__item-title-wrapper">
										<div class="reviews__item-title">
											Галина Головко
										</div>
										<div class="reviews__item-info">
											<div class="date">
												07/10/2023
											</div>
											<div class="reviews__item-rating">
												<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.2887 2.29998C9.47595 -0.278217 5.93714 -0.278217 5.12438 2.29998C4.88542 3.058 4.20008 3.57122 3.42679 3.57122C0.796665 3.57122 -0.296889 7.04016 1.83093 8.63358C2.45653 9.10206 2.71831 9.93247 2.47935 10.6905C1.6666 13.2687 4.52956 15.4126 6.65737 13.8192C7.28298 13.3507 8.13011 13.3507 8.75571 13.8192C10.8835 15.4126 13.7465 13.2687 12.9337 10.6905C12.6948 9.93247 12.9566 9.10206 13.5822 8.63358C15.71 7.04016 14.6164 3.57122 11.9863 3.57122C11.213 3.57122 10.5277 3.058 10.2887 2.29998Z" fill="#F7C34F"/>
												</svg>
												<span>
													4.2
												</span>
											</div>
										</div>
									</div>
									<div class="reviews__item-description">
										Дуже рада вашому додатку, він мені показав наскільки легко і швидко можна познайомитися з пухнастими друзями. Я перетримувала собачку на ім'я Чарлі. Спочатку йому було дуже не зручно в новій обстановці, але потім він звик і ми дуже добре порозумілися. Ми любили валятися на ліжку і дивитися фільми ночами. Було сумно прощатися, але тепер у мене є багато хороших спогадів про це.
									</div>
									<div class="reviews__item-category carry">
										Перетримка
									</div>
								</div>
							</div>
							<div class="reviews__item">
								<div class="reviews__item-photo">
									<img src="images/dist/walker/slider-reviews/3.png" alt="slide">
								</div>
								<div class="reviews__item-content">
									<div class="reviews__item-title-wrapper">
										<div class="reviews__item-title">
											Мирослав Соловей
										</div>
										<div class="reviews__item-info">
											<div class="date">
												11/10/2023
											</div>
											<div class="reviews__item-rating">
												<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.2887 2.29998C9.47595 -0.278217 5.93714 -0.278217 5.12438 2.29998C4.88542 3.058 4.20008 3.57122 3.42679 3.57122C0.796665 3.57122 -0.296889 7.04016 1.83093 8.63358C2.45653 9.10206 2.71831 9.93247 2.47935 10.6905C1.6666 13.2687 4.52956 15.4126 6.65737 13.8192C7.28298 13.3507 8.13011 13.3507 8.75571 13.8192C10.8835 15.4126 13.7465 13.2687 12.9337 10.6905C12.6948 9.93247 12.9566 9.10206 13.5822 8.63358C15.71 7.04016 14.6164 3.57122 11.9863 3.57122C11.213 3.57122 10.5277 3.058 10.2887 2.29998Z" fill="#F7C34F"/>
												</svg>
												<span>
													4.5
												</span>
											</div>
										</div>
									</div>
									<div class="reviews__item-description">
										Знайшов ваш застосунок і був дивно вражений, наскільки легко і швидко можна займатися своєю улюбленою справою. Моя перша прогулянка була запланована доволі швидко, я вигулював двох песиків — Джона та Тедді — і гуляти з ними взимку було дуже захоплююче. Якщо ви любите тварин і хочете більше проводити часу з ними, то Hi PAW для вас.
									</div>
									<div class="reviews__item-category">
										Прогулянка
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

<!--#include virtual="/parts/footer.html" -->
