// USER VARIABLES SECTION

$accent: #5D92FF // Accent Color for Walker
$accentOwner: #00A86B // Accent Color for Owner
$orange: #FD755D
$blue: #4F86F7
$white: white
$fontsize: 16px // Body Font Size
$textcolor: #251C04 // Text Color
$lineheight: 24px // Document Line Height
$userfont: inter, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$titleFont: monsterrat, sans-serif

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

%subtitle
	padding: 12px 0 44px
	font-family: $titleFont
	font-weight: 500
	font-size: 22px
	line-height: 27px
	text-align: center

%titleSection
	padding-bottom: 0
	font-weight: 800

%buttonAbstract
	display: block
	background-color: $white
	padding: 15px 29px
	border-radius: 24px
	max-width: 166px
	text-align: center
	transition: all .7s
	font-size: 18px
	&:hover
		background-color: darken($white, 5%)
	&:focus, &:active
		background-color: darken($white, 10%)


// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@import 'node_modules/bootstrap/scss/bootstrap.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('roboto-oh5', normal, 400, '../fonts/roboto-regular-webfont.woff2')
@include font('roboto-oh5', italic, 400, '../fonts/roboto-italic-webfont.woff2')
@include font('roboto-oh5', normal, 700, '../fonts/roboto-bold-webfont.woff2')
@include font('roboto-oh5', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')

@include font('monsterrat', semibold, 600, '../fonts/monsterrat/MontserratAlternates-SemiBold.woff2')
@include font('monsterrat', bold, 700, '../fonts/monsterrat/MontserratAlternates-Bold.woff2')
@include font('monsterrat', extrabold, 800, '../fonts/monsterrat/MontserratAlternates-ExtraBold.woff2')


@include font('inter', medium, 500, '../fonts/inter/Inter-Medium.woff2')
@include font('inter', semibold, 600, '../fonts/inter/Inter-SemiBold.woff2')
@include font('inter', bold, 700, '../fonts/inter/Inter-Bold.woff2')
@include font('inter', extrabold, 800, '../fonts/inter/Inter-ExtraBold.woff2')

// GENERAL CSS SETTINGS

::placeholder
	color: #666

//::selection
//	background-color: $accent
//	color: #fff

.container
	max-width: 1312px

a
	text-decoration: none

ul[class],
ol[class]
	list-style: none

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

._title
	padding: 80px 0 72px
	font-family: $titleFont
	font-weight: 800
	line-height: 37px
	text-align: center